---
layout: default
title: Stories
permalink: /stories/
---

<div class="home">

  <h1 class="page-heading">Stories</h1>

   <p>Sometimes life gives us stories. Sometimes we give stories life.</p>

  <ul class="post-list">
    {% for story in site.stories %}
      <li>
        <div class="front-post">
          <a class="post-link" href="{{ story.url | prepend: site.baseurl }}">{{ story.title }}</a>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
