---
layout: default
---
 <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">{% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

<div>
  {% for image in page.images %}
    <div class="story">
      <figure>
        <img class="story" src="{{ image.image_path }}" alt="{{ image.title }}">
        <figcaption>{{ image.caption }}</figcaption>
      </figure>
    </div>
  {% endfor %}
</div>
